.slick-prev:before,
.slick-next:before {
  color: black;
}
 .hw{
     height: 400px;
     width: 1200px;
 }


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}